QDMNodeContentWidget { background: transparent }
QLabel { color: #e0e0e0; }
QGraphicsView { selection-background-color: #ffffff; }
QDMDeleteButton {
    font-weight: bold;
    font-size: 10pt;
    color: #e00;
    background-color:rgba(0,0,0,0);
    padding: 1px 5px 7px 7px;
    }

QDMDeleteButton:hover {
    color: #e55;
    }